/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

* {
  box-sizing: border-box;
  background-color: #e6e6fa;
}

h1 {
  margin-bottom: 15px;
  color: #854c70;
  padding: 10px;
}

a,a:visited {
  color: #854c70;
  text-decoration: none;
}

h2 {
  position: relative;
  top: -25px;
  background-color: #bcbee1;
  color: #854c70;
  padding: 5px;
  width: 100%;
}

p,input,label {
  color: #854c70;
  background-color: #e6e6fa;
}

#tasks,#calendar,#character {
  position: relative;
  border: 5px solid #bcbee1;
  margin-bottom: 15px;
  background-color: #e6e6fa;
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto; 
  /* padding: 5px; */
}

.checkbox{
  background-color: #ppp;
}

.row {
  width: 100%;
  position: relative;
}




/* Desktop */
@media (min-width: 992px) {
  #tasks,#calendar,#character {
      width: 33.33%;
      float: left;
  }
}